.form {
  border: 2px solid #f5d0d0;
  padding: 56px 32px;
}

.form-field {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 32px;
}

.form-field-horizontal {
  flex-direction: row;
  align-items: center;
}

.form-field label {
  margin-bottom: 18px;
  font-size: 18px;
}

.form-field-horizontal label {
  margin-bottom: 0px;
}

.form-field input {
  height: 32px;
  padding: 0;
}

.form-conditions {
  padding: 18px 32px;
  border: 1px solid #000;
  background-color: #fffdfd;
  margin-bottom: 32px;
}

.form-conditions p {
  margin-bottom: 0;
}
